*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: darkseagreen;
    color: antiquewhite;
    font-family:  'Montserrat', sans-serif;
}

/*navigasion starts*/

h2{
    text-align: center;
    float: left;
    padding: 4px;
    margin: 2px;
}
a{
    color: antiquewhite;
    font-size: 1rem;
    text-decoration: none;
}
.navbar{
    background-color: black;
    padding: 1% 10%;
    text-align: center;
    float:center;
}
.navbar h2 a{
    font-size: 1.5rem;
    color: antiquewhite;
    font-size: bold;
    margin: 0;
    padding-top: 10px;
}
.navbar::after{

    content: '';
    display: table;
    clear:both;
}
.nav-menu{
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   text-transform: uppercase;
    
}
.nav-menu a{
    padding: 10px ;
    margin-bottom: 6px;
    border-radius: 10px;
    transition: width 1s linear 2s;

}
.nav-menu a:hover{
    border-bottom: 1px solid darkorange;
    width: 100px;
    
}

.nav-menu .active{
    border-bottom: 1px solid darkorange;
}
/*navigation end*/

/* profile starts from here */
.profile-photo{
    margin: 10px auto;
    width: 100%;
    padding: 90px;
    float: left;
    
}
img{
    float: left;
    width: 490px;
    height: 55vh;
    padding: 10px;
    margin: 10px auto;
 
}
img{
    border-bottom: 10px solid darkorange;
}
/*profile imag end*/

.profile{

}



/* profile ends here */