*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: darkolivegreen;
    color: antiquewhite;
    font-family:  'Montserrat', sans-serif;
}

/*navigasion starts*/

h2{
    text-align: center;
    float: left;
    padding: 4px;
    margin: 2px;
}
a{
    color: antiquewhite;
    font-size: 1rem;
    text-decoration: none;
}
.navbar{
    background-color: black;
    padding: 1% 10%;
    text-align: center;
    float:center;
}
.navbar h2 a{
    font-size: 1.5rem;
    color: antiquewhite;
    font-size: bold;
    margin: 0;
    padding-top: 10px;
}
.navbar::after{

    content: '';
    display: table;
    clear:both;
}
.nav-menu{
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   text-transform: uppercase;
    justify-content: space-around;
}
.nav-menu a{
    padding: 10px ;
    margin-bottom: 6px;
    border-radius: 10px;
    transition: width 1s linear 2s;

}
.nav-menu a:hover{
    border-bottom: 1px solid darkorange;
    width: 100px;
    
}

.nav-menu .active{
    border-bottom: 1px solid darkorange;
}
/*navigation end*/

.profile{
    width: 1130px;
    max-width: 95%;
    width: 1130px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* profile starts from here */
.profile-photo{
    margin: 10px auto;
    width: 420%;
    height: auto;
    padding: 20px;
    float: left;
    
}
img{
    float: left;
    width: 490px;
    height: 55vh;
    padding: 10px;
    margin: 10px auto;
 
}
img{
    border-bottom: 10px solid darkorange;

}
/*profile imag end*/

.profile .p-des h1{
    text-transform: capitalize;

}
.profile .p-des h2{
    width: 1130px;
    max-width: 95%;
    font-size: 40px;
    float:left;
    text-align: left;
    padding: 0px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 40px;

}
/* SOMEDAY HOOVER */

span{
    color: darkorange;
    font-weight: bold;
}
.p-des p{
    color: antiquewhite;
    font-size: 18px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    line-height: 24px;
}
/*social section*/

.social {
    display: flex;
    text-align: center;
}
.social a{
    position: relative;
    display: block;
    color: rgb(128, 118, 118);
    font-size: 20px;
    height: 60px;
    width: 60px;
    background: #171515;
    line-height: 60px;
    border-radius: 50%;
    margin: 0 15px;
    cursor: pointer;
}
.social a:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: #d35400;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: -1;
    transform: scale(0.9);
    transition: .4s;
}
.social a:hover::before{
    filter: blur(3px);
    transform: scale(1.2);
    box-shadow: 0 0 15px #d35400;
}
.social a:hover{
    color: #ffa502;
    box-shadow: 0 0 15px #d35400;
    text-shadow: 0 0 15px #d35400;
}
/* social ends here */

.cv{
    position: relative;
    padding: 20px;
    margin: 0 auto;
    height: 100%;
    place-items: center;
    
    
}
.cv a{
    position: relative;
    color: black;
    height: 90px;
    width: 150px;
    /* border-radius: 50px;  */
    border: none;
    outline: none;
    font-size: 18px;
    letter-spacing: 1.3rem;
    text-transform: uppercase;
    cursor: pointer;
}
.cv a:hover{
    background: linear-gradient(45deg, rgb(202, 124, 7), rgb(180, 66, 31));
    width: 400%;
}
/* need to understand */
.cv a:hover:before{
    content: '';
    position: absolute;
    background: inherit;
    top: -5px;
    bottom: -5px;
    left: -5px;
    border-radius: 50px;
    filter: blur(20px);
    opacity: 0;
    transition: opacity 0.5;
    
/* >>>>>>>>>>>>>>>>>>>watch highlight button continue from button style<<<<<<<<<<<<<<<< will delete this comment */
}

/* profile ends here */

/*fontawsome linker*/
.fa-brands{
    font-size: 20px !important;
}
